<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/image.png" alt="" />
  </div>
  <div class="headings">
    <h2>Aasaudi</h2>
    <h3>By Gaurab Subedi Project</h3>
    <a href="/medicines" class="btn">View Medicine</a>
  </div>
</header>

<%- include('partials/footer'); -%>
